@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    // border: 1px solid red;
    background-color: black;
    color: white;

  }
.logo{
  width: 10rem;
  position: fixed;
  top: 10px;
}
  section{
    height: 80vmin;
    background-color: black;
    color: white;
  }

  .banner{

    height: 100%;
    width: 100%;
    background-color: black;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 18rem;

    }
    h1{
     font-family: 'Roboto', sans-serif;
     font-size: 4rem;
    }
    .insideBanner{
        padding: 3rem;
    }
    .bannerSubText{
      color: gray;
    }
  }
  .imgdiv{
    display: flex;
    flex-direction: column;
  }
  .btn{
    margin-top: 1rem;
    width: 100%;

  }
  //project
.projects{
  height: 50vmin;
}
.project-title{
  text-align: center;
  padding-top: 1rem; 
  padding-bottom: 1rem; 
}
.card-link{
  text-decoration: none;
:hover{
  opacity: 0.9;
}

}
  .project-cards{
    display: flex;
    justify-content: center;
  }



  //footer
footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-container{
  display: flex;
  flex-direction: row;
}
.footerlogo{
  margin: 1rem;
  cursor: pointer;
  width: 50px;
}
ul{
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.btnurl{
  text-decoration: none;
  color: white;
}
  // animation


  //tablet view
  @media screen and (min-width: 600px) and (max-width: 1024px){
    .banner{
      h1{
        font-size: 40px;
      }
      img{
        width: 15rem;
      }
      .insideBanner{
        padding: 1.5rem;
    }
    }
    .logo{
      top: 0px;
    }
    section{
      height: 70vmin;
    }
    .project-cards{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

  }
  //mobile view
  @media screen and (min-width: 400px) and (max-width: 600px){

    .banner{
      margin-top: 45px;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-items: center;

      h1{
        font-size: 25px;
      }
      .bannerSubText{
        font-size: 17px;
      }
      img{
        width: 10rem;
      }
      .insideBanner{
        padding: 1rem;
    }
    }
    .logo{
      top: 5px;
      width: 7rem;
      left: 100px;
      z-index: 1;
    }
    section{
      height: 90vmin;
    }
    .project-cards{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    ul{
      flex-direction: column;
    }
    .footerlogo{
      margin: 0.5rem;
      cursor: pointer;
      width: 40px;
    }

  }
  
  