@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Rajdhani:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    // border: 1px solid red;
    background-color: #2a2a2a;
    color: #cacaca;

  }
  .textStyle{
    font-size: 6rem;
    font-family: 'Rajdhani', cursive;
    color: #0dcaf0;
  }
  .subtextStyle{
    font-size: 2.5rem;
    font-family: 'Rajdhani', cursive;
    color: #0dcaf0;
  }
  // hr tag
  hr{
    width: 60%;
    margin: auto !important;
    background-color: #0dcaf0;
    height: 2px;
  }
  
.logo{
  width: 10rem;
  position: fixed;
  top: 10px;
}
  section{
    height: 100vmin;
  }

  .banner{

    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 18rem;

    }
    h1{
     font-family: 'Roboto', sans-serif;
     font-size: 4rem;
    }
    .insideBanner{
        padding: 3rem;
    }

  }
  .imgdiv{
    display: flex;
    flex-direction: column;
  }
  .btn{
    margin-top: 1rem;
    width: 100%;

  }
  // skills
  .skillHeading{
    background-color: "#363636";
     color: "#cacaca";
     text-align: center; 
    font-family: 'Rajdhani';
  }
  .skills {
    background-color:#363636;
    margin-bottom: 5rem;
  }
  
  .skills-list {
    background-color:#363636;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  .skill {
    background-color:#363636;
    width: 16.66%; /* Each row will have 6 skills on laptop screens */
    margin-bottom: 1.5rem;
    text-align: center;
  }
  h2{
    background-color: #363636;
  }
  .skill img {
    background-color:#363636;
    width: 5rem;
    max-width: 100px;
    height: 5rem;
    margin-bottom: 0.5rem;
  }
  
  .skill p {
    background-color:#363636;
    margin: 0;
    font-size: 14px;
  }
  
  

  //project
.projects{
  height: 50vmin;
}
.project-title{
  text-align: center;
  padding-top: 1rem; 
  padding-bottom: 1rem; 
  font-family: 'Rajdhani';
}
.project-btn{
    // background-color: gray;
    border: 1px solid #1dd9ff;
    border-radius: 10px;
    box-sizing: border-box;
    // color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Rajdhani';
    font-size: 16px;
    font-weight: 200;
    outline: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    width: 50%;
    height: 35%;
    &:hover{
      transform: scaleY(1.1);
      background-color: #0000001f;
    }
}
  .project-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 3rem;
  }
  .card-arrange{
    display: flex;
    justify-content: center;
    width: 33%; 
    margin: 0 0;
    text-align: center;
  }



  //footer
footer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-container{
  display: flex;
  flex-direction: row;
}
.footerlogo{
  margin: 2rem;
  cursor: pointer;
  width: 50px;
}
ul{
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.btnurl{
  text-decoration: none;
  color: white;
}
// collaborate
.collabMain{
  max-width: 60%;
  margin-top: 5rem ;
  margin-bottom: 2rem;
}
.coffeeImg{
  margin-top: 3rem;
  width: 10rem;
}


  //..........................tablet view.................................


  @media screen and (min-width: 600px) and (max-width: 1024px){
    .banner{
      h1{
        font-size: 40px;
        .textStyle{
          font-size : 50px;
        }
        .subtextStyle{
          font-size: 20px;
        }
      }
      img{
        width: 15rem;
      }
      .insideBanner{
        padding: 1.5rem;
    }
    }
    .logo{
      top: 0px;
    }
    section{
      height: 70vmin;
    }
    .skill {
      width: 25%; /* Each row will have 4 skills on smaller screens */
      img{
        width: 3rem;
        height: 3rem;
      }
    }
    
    .project-cards{
      display: flex;
      flex-wrap: wrap;
      // flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .card-arrange{
      display: flex;
      justify-content: center;
      width: 50%; 
      margin: 0 0;
      text-align: center;
    }

  }
  //mobile view
  @media screen and (max-width: 600px){

    .banner{
      margin-top: 45px;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-items: center;

      h1{
        font-size: 30px;
      }
      .textStyle{
        font-size: 35px;
      }
      .bannerSubText{
        font-size: 17px;
      }
      .subtextStyle{
        font-size: 24px;
      }
      img{
        width: 10rem;
      }
      .insideBanner{
        padding: 1rem;
    }
    }
    .logo{
      top: 5px;
      width: 7rem;
      left: 20px;
      z-index: 1;
    }
    section{
      height: 160vmin;
    }

    // skills
    .skill {
      width: 25%; /* Each row will have 4 skills on smaller screens */
      img{
        width: 40px;
        height: 40px;
      }
    }
    .project-cards{
      
      display: flex;
      flex-wrap: wrap;
      // flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0;
    }
    .card-arrange{
      display: flex;
      justify-content: center;
      width: 100%; 
      margin: 0 0;
      text-align: center;
    }

    ul{
      flex-direction: column;
    }
    .footerlogo{
      margin: 0;
      margin-top: 1rem;
      cursor: pointer;
      width: 40px;
    }
    .coffeeImg{
      width: 6rem;
    }
    .collabMain{
      max-width: 100%;
    }
  }
  
  
